figure {
    color: green;
}
a[href*="https"] {
    color: red;
}
/* ul > li + li + li > a {
    background: green;
} */  /* считается такой вариант правильным? */
.holder > ul:first-of-type > li:last-of-type > a {
    background: green;
}
ul + p {
    font-size: 26px;
}
h3:first-of-type {
    color: pink;
}
[id='greycol'] {
    color: grey;
}
div > div:last-of-type > p {
    color: red;
}
div > h3:last-of-type + p {
    color: green;
}
.text-box > p:last-of-type {
    color: yellow;
}
.bg-box {
    width: 800px;
    height: 800px;
    background: green;
    background-image: url('../images/pole-zelen-trava-dom-derevya.jpg'),
                      url('../images/grass-png-images-pictures-transparent-28.png'),     
                      url('../images/lamp-png-0.png'),
                      url('../images/Ёжик.png'),
                      url('../images/58eb07b830eab15b56162788.png');
    background-size: auto, 800px 150px, 40px 40px, 50px auto, 50px 50px;
    background-repeat: no-repeat, no-repeat, repeat-x, repeat-y, repeat-y;
    background-position: center, bottom, top,left,right;
}


